.kinobox_player {width: 100%; height: 100dvh; margin-top: 120px; aspect-ratio: 16 / 9;}
body {margin: 0; background-color: #000000; height: 100dvh; display: flex; flex-direction: column; font-family: Arial, Helvetica, sans-serif;}
.search-container {margin: auto; width: 80vw; margin-top: 10vh; flex-direction: column;}

input {position: relative; background-color: rgba(0, 0, 0, .3); backdrop-filter: blur(400px); -webkit-backdrop-filter: blur(400px); border: 1px solid #fff3; padding: 20px 40px; width: 100%; border-radius: 30px; outline: none; color: #fff; transition: all .2s ease;}
button {position: absolute; cursor: pointer; right: 12px; aspect-ratio: 1 / 1; opacity: 0; transition: all .3s ease; background-color: #ffffff40; color: #fff; border: none; border-radius: 30px; z-index: 999;}
span {color: rgba(232, 231, 255, 0.404); }

input[type="text"]:focus {border: 1px solid rgb(255, 204, 37);}
button:hover {background-color: rgb(255, 204, 37);}
svg {transform: rotatez(90deg); margin-top: 2px;}
input:focus + button {
        opacity: 1;
}
.instruction {
    color: #fff;
        padding: 40px;
        margin-top: 20px;
        border-radius: 20px;
        background-color: rgba(255, 204, 37, 0.747);
        backdrop-filter: blur(400px);
        -webkit-backdrop-filter: blur(400px);
        display: none;
        position: relative;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 32px;
        cursor: pointer;
        color: #ffffff;
    }
    h2 {
        margin-bottom: 30px;
    }
    .history {
        color: #fff;
        padding: 15px;
        border-radius: 20px;
        background-color: rgb(10, 10, 10);
        display: none;
        position: relative;
        /* box-shadow: 0px 12px 100px 41px rgba(0,0,0,0.4); */
    }
    .history ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .history ul li {
        margin: 5px 0;
        cursor: pointer;
    }
    .history ul li:hover {
        text-decoration: underline;
    }
    .history.active {
        display: block;
    }
    .history ul li {
        padding: 10px;
    }
    .history ul li:hover {
        background-color: #ffffff0d;
        border-radius: 8px;
    }

    @media (min-width: 1200px) {
        .search-container {
            width: 90vw;
            position: absolute;
            gap: 20px;
            top: 150px;
            left: auto;
            right: auto;
            margin: 0;
            opacity: 0;
            transition: all .3s ease;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
            
        }
        input {
            background-color: #11111149;
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.082);
            transition: all .3s ease;
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            padding: 20px;
            z-index: 999;
            box-shadow: 0px 12px 100px 41px rgba(0,0,0,0.4);
        }
        input:focus {
            border: none;
            border: 2px solid rgb(255, 204, 37);
            border-radius: 20px;
        }
        .search-container:hover {
            opacity: 1;
        }
        .kinobox_player {
            margin-top: 0;
        }
        .history {
            position: absolute;
            top: calc(100% - 30px);
            left: auto;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            background-color: rgb(12, 12, 12);
            border-radius: 20px;
            padding: 15px;
            width: 87vw;
            z-index: 998;
        }
        .history:hover {
            display: block;
        }
        .history ul {
            margin-top: 30px;
        }
        body {
            background: linear-gradient(3deg, #000000, #090a0f, #0e0a18);
            background-size: 600% 600%;
            -webkit-animation: AnimationName 10s ease infinite;
            -moz-animation: AnimationName 10s ease infinite;
            animation: AnimationName 10s ease infinite;
        }

        @-webkit-keyframes AnimationName {
            0%{background-position:0% 86%}
            50%{background-position:100% 15%}
            100%{background-position:0% 86%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 86%}
            50%{background-position:100% 15%}
            100%{background-position:0% 86%}
        }
        @keyframes AnimationName {
            0%{background-position:0% 86%}
            50%{background-position:100% 15%}
            100%{background-position:0% 86%}
        }
    }