* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
section.container {
    margin: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
h1 {
    font-size: 24px;
    font-weight: 400;
}
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
nav ul {
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
nav li {
    float: left;
}
nav li a {
    text-decoration: none;
}
.members__active, .members__blocked {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.members__active-list, .members__blocked-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.members__active-item, .members__blocked-item {
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .05);
    text-decoration: none;
    color: black;
}
.members__active-info, .members__blocked-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #6573CD;
    text-align: center;
    color: #fff;
    line-height: 38px;
}
.members__blocked .img {
    opacity: .3;
}
.members__active-info p, .members__blocked-info p {
    font-size: 16px;
    font-weight: 400;
}
.members__active-info span, .members__blocked-info span {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
}
#invite-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#invite-username, #invite-position, #invite-role {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 16px;
    border-radius: 10px;
    position: relative;
}
label {
    font-size: 12px;
    color: rgba(0, 0, 0, .7);
    background-color: #fff;
    margin-bottom: -28px;
    z-index: 1;
    margin-left: 15px;
    width: fit-content;
}
#invite-link {
    display: none;
}
#invite-position + button {
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 10px;
}
select {
    -webkit-appearance: none; /* Убираем стандартный вид на iOS */
    -moz-appearance: none;    /* Для Firefox */
    appearance: none;   
    appearance: none;
    background-color: #fff;
}
#registration-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#register-password {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 16px;
    border-radius: 10px;
}
#register-password + button {
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 10px;
    margin-top: 10px;
}
#login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#login-username, #login-password {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 16px;
    border-radius: 10px;
}
#login-password + button {
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 10px;
    margin-top: 10px;
}